<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>

  <div><%= f.label :year %></div>
  <div><%= f.text_field :year %></div>

  <div><%= f.label :producer %></div>
  <div><%= f.autocomplete_field :producer, autocomplete_wine_producer_wines_path %></div>

  <div><%= f.label :grape_list %></div>
  <div><%= f.autocomplete_field :grape_list, autocomplete_wine_grape_list_wines_path, 'data-delimiter' => ', ' %></div>

  <div><%= f.label :alcohol %></div>
  <div><%= f.text_field :alcohol %></div>

  <div><%= f.label :region %></div>
  <div><%= f.autocomplete_field :region, autocomplete_wine_region_wines_path %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
