<div class="span-18">
<h1><%= @wine.name %></h1>

<table>
  <tr>
    <th>Year</th>
    <td><%= @wine.year %></td>
  </tr>
  <tr>
    <th>Producer</th>
    <td><%= if @wine.producer.empty? then link_to 'Unknown', producer_path('Unknown') else link_to @wine.producer, producer_path(CGI.escape(@wine.producer)) end %></td>
  </tr>
  <tr>
    <th>Grapes</th>
    <td><%= @wine.grape_list %></td>
  </tr>
  <tr>
    <th>Alcohol</th>
    <td><%= if @wine.alcohol then @wine.alcohol * 100 else '0.0' end %>%</td>
  </tr>
  <tr>
    <th>Region</th>
    <td><%= if @wine.region.empty? then link_to 'Unknown', region_path('Unknown') else link_to @wine.region, region_path(CGI.escape(@wine.region)) end %></td>
  </tr>
</table>

<% @wine.ratings.order('created_at desc').each do |rating| %>
<div class="box">
<%= rating.users.order('name').collect{|u| u.name}.join(' and ') %> rated this wine <%= link_to rating.rank.name, rating.rank %> <%= time_ago_in_words rating.created_at%> ago.
</div>
<% end %>

</div>

<% if user_signed_in? then %>
<div class="span-6 last">
  <% @rating = Rating.new %>
  <%= render 'ratings/form' %>
</div>
<% end %>
