
<h1><%= @wine.name %></h1>

<table>
  <tr>
    <th>Year</th>
    <td><%= @wine.year %></td>
  </tr>
  <tr>
    <th>Producer</th>
    <td><%= @wine.producer %></td>
  </tr>
  <tr>
    <th>Grape</th>
    <td><%= if @wine.grape.empty? then link_to 'Unknown', grape_path('Unknown') else link_to @wine.grape, grape_path(@wine.grape) end %></td>
  </tr>
  <tr>
    <th>Alcohol</th>
    <td><%= if @wine.alcohol then @wine.alcohol * 100 else '0.0' end %>%</td>
  </tr>
  <tr>
    <th>Region</th>
    <td><%= if @wine.region.empty? then link_to 'Unknown', region_path('Unknown') else link_to @wine.region, region_path(@wine.region) end %></td>
  </tr>
</table>

<% @wine.ratings.each do |rating| %>
<div class="box">
Nobody rated this wine <%= rating.value %>, <%= time_ago_in_words rating.created_at%> ago.
</div>
<% end %>
